/* Общие стили */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.registration-container {
  max-width: 750px;
  margin: 40px auto;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.hidden {
  display: none;
}

.registration-title,
.step-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
}

.phone-input {
  display: flex;
  align-items: center;
  flex: 1;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.phone-prefix {
  font-size: 16px;
  color: #555555;
  margin-right: 3px;
  user-select: none;
}

.flag-icon {
  font-size: 24px;
  color: #555555;
  margin-right: 10px;
}

#client-phone,
#company-phone {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333333;
  padding-left: 0;
}

.phone-number {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333333;
}

.phone-number::placeholder,
.verification-code::placeholder,
#company-phone::placeholder,
#client-phone::placeholder,
.alternative-input::placeholder,
#username::placeholder,
#password::placeholder {
  color: #a9a9a9; /* Более светлый серый */
}

.unclickable {
  pointer-events: none; /* Запрещаем клики */
  opacity: 0.6; /* Добавляем визуальное затухание */
  cursor: not-allowed; /* Указываем, что элемент неактивен */
  background-color: #d3d3d3; /* Серый фон */
}

.verification-code {
  font-size: 24px; /* Крупный шрифт */
  text-align: start;
  letter-spacing: 10px;
  caret-color: #000000;
  width: 170px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  margin: 0 auto; /* Автоматический одинаковый отступ по горизонтали */
  padding-bottom: 5px;
  padding-left: 25px;
  margin-bottom: 10px;
  height: 40px;
}

.clickable-text {
  color: #2b7b7e; /* Синий цвет текста */
  text-decoration: underline; /* Подчёркивание */
  cursor: pointer; /* Указатель при наведении */
}

.clickable-text:hover {
  color: #76c0c5;
}

.clickable-text2 {
  color: #4d7e80; /* Синий цвет текста */
  cursor: pointer; /* Указатель при наведении */
}

.clickable-text2:hover {
  color: #76c0c5;
}

.verification-code-wrapper {
  display: flex; /* Включаем флекс */
  justify-content: center; /* Горизонтальное выравнивание по центру */
  width: 100%; /* Контейнер занимает всю доступную ширину */
}

.submit-button,
.tab-button {
  padding: 10px 20px;
  background-color: #d3d3d3;
  color: #333333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.login-button {
  padding: 10px 20px;
  background-color: #ffa500; /* Оранжевый цвет */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #e69500;
}

.resend-code-button {
  padding: 10px 20px;
  background-color: #ffa500; /* Оранжевый цвет */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
  display: block;
  margin: 0 auto; /* Горизонтальное центрирование */
}

.resend-code-button:hover {
  background-color: #e69500;
}

.get-code-button {
  background-color: #5a83a8; /* Синий фон кнопки */
  color: white; /* Белый цвет текста */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px; /* Отступ между текстом и иконкой */
  margin-left: 10px;
}

.get-code-button i {
  color: white; /* Белый цвет иконки */
  font-size: 18px; /* Размер иконки */
}

.get-code-button:hover {
  background-color: #3182ce; /* Цвет кнопки при наведении */
}

.tab-button:hover {
  background-color: #b0b0b0;
}

.get-code-button:disabled,
.resend-code-button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.terms {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #a9a9a9;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
  position: relative;
}

.custom-checkbox.checked::after {
  content: "\2714";
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #ffa500;
}

.custom-checkbox.unchecked::after {
  content: "";
}

.terms-label {
  color: #333333;
  font-size: 14px;
}

.checkbox-message {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
}

.checkbox-message.hidden {
  display: none;
}

.timer-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
}

#timer {
  margin-left: 5px;
  font-weight: bold;
  color: #555555;
}

.submit-button {
  width: 100%;
  background-color: #ffa500; /* Оранжевый цвет */
  color: #ffffff;
  font-weight: 600;
}

.submit-button:hover {
  background-color: #e69500;
}

.client-question {
  margin-bottom: 20px;
}

.client-question p {
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

.tabs {
  display: flex;
  gap: 10px;
}

.tab-button {
  flex: 1;
  background-color: #d3d3d3;
  color: #ffffff;
  font-weight: 600;
  border-radius: 4px;
  position: relative;
  top: 1px;
  height: 45px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.tab-button.active {
  background-color: #ffa620; /* Оранжевый цвет */
  color: #ffffff;
  z-index: 1;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  height: 50px;
}

.form-group {
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.form-group input,
.form-group select,
.form-group textarea,
.alternative-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

.form-group textarea {
  resize: vertical;
  height: 80px;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group .terms-label {
  margin-right: 10px;
}

.checkbox-group .custom-checkbox {
  margin-right: 0;
}

.phone-prefix {
  pointer-events: none;
}

/* Стили для сторонних сервисов входа */
.third-party-login {
  margin-top: 30px; /* Добавлен отступ сверху */
  text-align: center;
}

.third-party-label {
  display: block;
  margin-bottom: 10px;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
}

.third-party-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.third-party-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s;
}

.third-party-icon:hover {
  transform: scale(1.1);
}

/* Стили для альтернативной формы входа */
.alternative-login {
  margin-top: 20px;
}

.alternative-login-button {
  width: 35%; /* Ширина кнопки относительно родителя */
  background-color: #ffffff;
  color: #979797;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  display: block; /* Делает кнопку блочной */
  margin-left: auto; /* Отодвигает кнопку вправо */
  margin-top: 50px;
  text-align: center; /* Центрирует текст внутри кнопки */
  font-weight: 600;
}

.alternative-login-button:hover {
  color: #135c58;
}

.alternative-login {
  margin-top: 10px;
}

.alternative-input-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.alternative-input-group .alternative-input {
  flex: 1;
  margin-right: 10px;
}

.alternative-input-group .alternative-input:last-child {
  margin-right: 0;
}

@media (max-width: 600px) {
  .input-group {
    flex-direction: column;
    align-items: stretch;
  }

  .get-code-button {
    margin-left: 0;
    margin-top: 10px;
  }

  .alternative-input-group {
    flex-direction: column;
  }

  .alternative-input-group .alternative-input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .login-button {
    width: 100%;
  }

  .third-party-icons {
    gap: 10px;
  }
}

/* Футер */
.footer {
  background-color: rgb(213, 213, 213);
  color: white;
  padding: 12px 0;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

.footer-container {
  max-width: 73%;
  margin: 0 auto;
}

.footer-link {
  color: #28383d;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
